
*~
bin.v2/
bin/
doc/bin/
doc/doxygen/
doc/inspect.txt
convert.pdf
*.log
*.bat

#################
## Eclipse
#################

.project
.settings/
.cproject

Debug/
Release/
*.vcxproj*
*.sln
*.suo
*.sdf
*.opensdf
a.out
Jamroot.jam




