BasedOnStyle: Mozilla
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
IndentWidth: 4
ColumnLimit: 80
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: All
AlwaysBreakBeforeMultilineStrings: true
AllowShortFunctionsOnASingleLine: false
BraceWrapping:
  AfterCaseLabel:  true
  AfterClass:      true
  AfterControlStatement: Always
  AfterEnum:       true
  AfterExternBlock: true
  AfterFunction:   true
  AfterNamespace:  false
  AfterObjCDeclaration: true
  AfterStruct:     true
  AfterUnion:      true
  BeforeCatch:     true
  BeforeElse:      true
  BeforeLambdaBody: true
  BeforeWhile:     true
  IndentBraces:    false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
BreakBeforeBraces: Custom
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments:
  Enabled: false
  AlignCompound: true
SpaceBeforeParens: Never
AlignOperands: false
IndentAccessModifiers: false
AccessModifierOffset: -4
IndentCaseLabels: false
AllowShortLambdasOnASingleLine: Inline
