BasedOnStyle: Mozilla
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
IndentWidth: 4
ColumnLimit: 80
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: All
AllowShortFunctionsOnASingleLine: false
BreakBeforeBraces: Allman
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments:
  Enabled: true
  AlignCompound: true
SpaceBeforeParens: Never
AlignOperands: false
IndentAccessModifiers: false
AccessModifierOffset: -4
IndentCaseLabels: false
AllowShortLambdasOnASingleLine: Inline
