[submodule "system"]
	path = libs/system
	url = https://github.com/boostorg/system.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "multi_array"]
	path = libs/multi_array
	url = https://github.com/boostorg/multi_array.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "math"]
	path = libs/math
	url = https://github.com/boostorg/math.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "smart_ptr"]
	path = libs/smart_ptr
	url = https://github.com/boostorg/smart_ptr.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "parameter"]
	path = libs/parameter
	url = https://github.com/boostorg/parameter.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "algorithm"]
	path = libs/algorithm
	url = https://github.com/boostorg/algorithm.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "any"]
	path = libs/any
	url = https://github.com/boostorg/any.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "concept_check"]
	path = libs/concept_check
	url = https://github.com/boostorg/concept_check.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "python"]
	path = libs/python
	url = https://github.com/boostorg/python.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "tti"]
	path = libs/tti
	url = https://github.com/boostorg/tti.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "functional"]
	path = libs/functional
	url = https://github.com/boostorg/functional.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "config"]
	path = libs/config
	url = https://github.com/boostorg/config.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "log"]
	path = libs/log
	url = https://github.com/boostorg/log.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "interprocess"]
	path = libs/interprocess
	url = https://github.com/boostorg/interprocess.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "exception"]
	path = libs/exception
	url = https://github.com/boostorg/exception.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "foreach"]
	path = libs/foreach
	url = https://github.com/boostorg/foreach.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "spirit"]
	path = libs/spirit
	url = https://github.com/boostorg/spirit.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "io"]
	path = libs/io
	url = https://github.com/boostorg/io.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "units"]
	path = libs/units
	url = https://github.com/boostorg/units.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "preprocessor"]
	path = libs/preprocessor
	url = https://github.com/boostorg/preprocessor.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "format"]
	path = libs/format
	url = https://github.com/boostorg/format.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "xpressive"]
	path = libs/xpressive
	url = https://github.com/boostorg/xpressive.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "integer"]
	path = libs/integer
	url = https://github.com/boostorg/integer.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "thread"]
	path = libs/thread
	url = https://github.com/boostorg/thread.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "tokenizer"]
	path = libs/tokenizer
	url = https://github.com/boostorg/tokenizer.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "timer"]
	path = libs/timer
	url = https://github.com/boostorg/timer.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "inspect"]
	path = tools/inspect
	url = https://github.com/boostorg/inspect.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "boostbook"]
	path = tools/boostbook
	url = https://github.com/boostorg/boostbook.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "regex"]
	path = libs/regex
	url = https://github.com/boostorg/regex.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "crc"]
	path = libs/crc
	url = https://github.com/boostorg/crc.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "random"]
	path = libs/random
	url = https://github.com/boostorg/random.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "serialization"]
	path = libs/serialization
	url = https://github.com/boostorg/serialization.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "test"]
	path = libs/test
	url = https://github.com/boostorg/test.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "date_time"]
	path = libs/date_time
	url = https://github.com/boostorg/date_time.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "logic"]
	path = libs/logic
	url = https://github.com/boostorg/logic.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "graph"]
	path = libs/graph
	url = https://github.com/boostorg/graph.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "numeric_conversion"]
	path = libs/numeric/conversion
	url = https://github.com/boostorg/numeric_conversion.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "lambda"]
	path = libs/lambda
	url = https://github.com/boostorg/lambda.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "mpl"]
	path = libs/mpl
	url = https://github.com/boostorg/mpl.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "typeof"]
	path = libs/typeof
	url = https://github.com/boostorg/typeof.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "tuple"]
	path = libs/tuple
	url = https://github.com/boostorg/tuple.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "utility"]
	path = libs/utility
	url = https://github.com/boostorg/utility.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "dynamic_bitset"]
	path = libs/dynamic_bitset
	url = https://github.com/boostorg/dynamic_bitset.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "assign"]
	path = libs/assign
	url = https://github.com/boostorg/assign.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "filesystem"]
	path = libs/filesystem
	url = https://github.com/boostorg/filesystem.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "function"]
	path = libs/function
	url = https://github.com/boostorg/function.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "conversion"]
	path = libs/conversion
	url = https://github.com/boostorg/conversion.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "optional"]
	path = libs/optional
	url = https://github.com/boostorg/optional.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "property_tree"]
	path = libs/property_tree
	url = https://github.com/boostorg/property_tree.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "bimap"]
	path = libs/bimap
	url = https://github.com/boostorg/bimap.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "variant"]
	path = libs/variant
	url = https://github.com/boostorg/variant.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "array"]
	path = libs/array
	url = https://github.com/boostorg/array.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "iostreams"]
	path = libs/iostreams
	url = https://github.com/boostorg/iostreams.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "multi_index"]
	path = libs/multi_index
	url = https://github.com/boostorg/multi_index.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "bcp"]
	path = tools/bcp
	url = https://github.com/boostorg/bcp.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "ptr_container"]
	path = libs/ptr_container
	url = https://github.com/boostorg/ptr_container.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "statechart"]
	path = libs/statechart
	url = https://github.com/boostorg/statechart.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "static_assert"]
	path = libs/static_assert
	url = https://github.com/boostorg/static_assert.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "range"]
	path = libs/range
	url = https://github.com/boostorg/range.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "rational"]
	path = libs/rational
	url = https://github.com/boostorg/rational.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "iterator"]
	path = libs/iterator
	url = https://github.com/boostorg/iterator.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "build"]
	path = tools/build
	url = https://github.com/boostorg/build.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "quickbook"]
	path = tools/quickbook
	url = https://github.com/boostorg/quickbook.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "graph_parallel"]
	path = libs/graph_parallel
	url = https://github.com/boostorg/graph_parallel.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "property_map"]
	path = libs/property_map
	url = https://github.com/boostorg/property_map.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "program_options"]
	path = libs/program_options
	url = https://github.com/boostorg/program_options.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "detail"]
	path = libs/detail
	url = https://github.com/boostorg/detail.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "interval"]
	path = libs/numeric/interval
	url = https://github.com/boostorg/interval.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "ublas"]
	path = libs/numeric/ublas
	url = https://github.com/boostorg/ublas.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "wave"]
	path = libs/wave
	url = https://github.com/boostorg/wave.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "type_traits"]
	path = libs/type_traits
	url = https://github.com/boostorg/type_traits.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "bind"]
	path = libs/bind
	url = https://github.com/boostorg/bind.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "pool"]
	path = libs/pool
	url = https://github.com/boostorg/pool.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "proto"]
	path = libs/proto
	url = https://github.com/boostorg/proto.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "fusion"]
	path = libs/fusion
	url = https://github.com/boostorg/fusion.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "function_types"]
	path = libs/function_types
	url = https://github.com/boostorg/function_types.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "gil"]
	path = libs/gil
	url = https://github.com/boostorg/gil.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "intrusive"]
	path = libs/intrusive
	url = https://github.com/boostorg/intrusive.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "asio"]
	path = libs/asio
	url = https://github.com/boostorg/asio.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "uuid"]
	path = libs/uuid
	url = https://github.com/boostorg/uuid.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "litre"]
	path = tools/litre
	url = https://github.com/boostorg/litre.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "circular_buffer"]
	path = libs/circular_buffer
	url = https://github.com/boostorg/circular_buffer.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "mpi"]
	path = libs/mpi
	url = https://github.com/boostorg/mpi.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "unordered"]
	path = libs/unordered
	url = https://github.com/boostorg/unordered.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "signals2"]
	path = libs/signals2
	url = https://github.com/boostorg/signals2.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "accumulators"]
	path = libs/accumulators
	url = https://github.com/boostorg/accumulators.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "atomic"]
	path = libs/atomic
	url = https://github.com/boostorg/atomic.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "scope_exit"]
	path = libs/scope_exit
	url = https://github.com/boostorg/scope_exit.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "flyweight"]
	path = libs/flyweight
	url = https://github.com/boostorg/flyweight.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "icl"]
	path = libs/icl
	url = https://github.com/boostorg/icl.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "predef"]
	path = libs/predef
	url = https://github.com/boostorg/predef.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "chrono"]
	path = libs/chrono
	url = https://github.com/boostorg/chrono.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "polygon"]
	path = libs/polygon
	url = https://github.com/boostorg/polygon.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "msm"]
	path = libs/msm
	url = https://github.com/boostorg/msm.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "heap"]
	path = libs/heap
	url = https://github.com/boostorg/heap.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "coroutine"]
	path = libs/coroutine
	url = https://github.com/boostorg/coroutine.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "coroutine2"]
	path = libs/coroutine2
	url = https://github.com/boostorg/coroutine2.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "ratio"]
	path = libs/ratio
	url = https://github.com/boostorg/ratio.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "odeint"]
	path = libs/numeric/odeint
	url = https://github.com/boostorg/odeint.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "geometry"]
	path = libs/geometry
	url = https://github.com/boostorg/geometry.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "phoenix"]
	path = libs/phoenix
	url = https://github.com/boostorg/phoenix.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "move"]
	path = libs/move
	url = https://github.com/boostorg/move.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "locale"]
	path = libs/locale
	url = https://github.com/boostorg/locale.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "auto_index"]
	path = tools/auto_index
	url = https://github.com/boostorg/auto_index.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "container"]
	path = libs/container
	url = https://github.com/boostorg/container.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "local_function"]
	path = libs/local_function
	url = https://github.com/boostorg/local_function.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "context"]
	path = libs/context
	url = https://github.com/vask2108/context.git
	fetchRecurseSubmodules = on-demand
	branch = feature/windows-arm64-libs-context-changes
[submodule "type_erasure"]
	path = libs/type_erasure
	url = https://github.com/boostorg/type_erasure.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "multiprecision"]
	path = libs/multiprecision
	url = https://github.com/boostorg/multiprecision.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "lockfree"]
	path = libs/lockfree
	url = https://github.com/boostorg/lockfree.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "assert"]
	path = libs/assert
	url = https://github.com/boostorg/assert.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "align"]
	path = libs/align
	url = https://github.com/boostorg/align.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "type_index"]
	path = libs/type_index
	url = https://github.com/boostorg/type_index.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "core"]
	path = libs/core
	url = https://github.com/boostorg/core.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "throw_exception"]
	path = libs/throw_exception
	url = https://github.com/boostorg/throw_exception.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "winapi"]
	path = libs/winapi
	url = https://github.com/boostorg/winapi.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "boostdep"]
	path = tools/boostdep
	url = https://github.com/boostorg/boostdep.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "lexical_cast"]
	path = libs/lexical_cast
	url = https://github.com/boostorg/lexical_cast.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "sort"]
	path = libs/sort
	url = https://github.com/boostorg/sort.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "convert"]
	path = libs/convert
	url = https://github.com/boostorg/convert.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "endian"]
	path = libs/endian
	url = https://github.com/boostorg/endian.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "vmd"]
	path = libs/vmd
	url = https://github.com/boostorg/vmd.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "dll"]
	path = libs/dll
	url = https://github.com/boostorg/dll.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "compute"]
	path = libs/compute
	url = https://github.com/boostorg/compute.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "hana"]
	path = libs/hana
	url = https://github.com/boostorg/hana.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "metaparse"]
	path = libs/metaparse
	url = https://github.com/boostorg/metaparse.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "qvm"]
	path = libs/qvm
	url = https://github.com/boostorg/qvm.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "fiber"]
	path = libs/fiber
	url = https://github.com/boostorg/fiber.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "process"]
	path = libs/process
	url = https://github.com/boostorg/process.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "stacktrace"]
	path = libs/stacktrace
	url = https://github.com/boostorg/stacktrace.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "poly_collection"]
	path = libs/poly_collection
	url = https://github.com/boostorg/poly_collection.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "beast"]
	path = libs/beast
	url = https://github.com/boostorg/beast.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "mp11"]
	path = libs/mp11
	url = https://github.com/boostorg/mp11.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "callable_traits"]
	path = libs/callable_traits
	url = https://github.com/boostorg/callable_traits.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "contract"]
	path = libs/contract
	url = https://github.com/boostorg/contract.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "check_build"]
	path = tools/check_build
	url = https://github.com/boostorg/check_build.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "container_hash"]
	path = libs/container_hash
	url = https://github.com/boostorg/container_hash.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "hof"]
	path = libs/hof
	url = https://github.com/boostorg/hof.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "yap"]
	path = libs/yap
	url = https://github.com/boostorg/yap.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "safe_numerics"]
	path = libs/safe_numerics
	url = https://github.com/boostorg/safe_numerics.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "parameter_python"]
	path = libs/parameter_python
	url = https://github.com/boostorg/parameter_python.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "headers"]
	path = libs/headers
	url = https://github.com/boostorg/headers.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "boost_install"]
	path = tools/boost_install
	url = https://github.com/boostorg/boost_install.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "outcome"]
	path = libs/outcome
	url = https://github.com/boostorg/outcome.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "histogram"]
	path = libs/histogram
	url = https://github.com/boostorg/histogram.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "variant2"]
	path = libs/variant2
	url = https://github.com/boostorg/variant2.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "nowide"]
	path = libs/nowide
	url = https://github.com/boostorg/nowide.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "docca"]
	path = tools/docca
	url = https://github.com/boostorg/docca.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "cmake"]
	path = tools/cmake
	url = https://github.com/boostorg/cmake.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "static_string"]
	path = libs/static_string
	url = https://github.com/boostorg/static_string.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "stl_interfaces"]
	path = libs/stl_interfaces
	url = https://github.com/boostorg/stl_interfaces.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "more"]
	path = more
	url = https://github.com/boostorg/more.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "leaf"]
	path = libs/leaf
	url = https://github.com/boostorg/leaf.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "json"]
	path = libs/json
	url = https://github.com/boostorg/json.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "pfr"]
	path = libs/pfr
	url = https://github.com/boostorg/pfr.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "describe"]
	path = libs/describe
	url = https://github.com/boostorg/describe.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "lambda2"]
	path = libs/lambda2
	url = https://github.com/boostorg/lambda2.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "property_map_parallel"]
	path = libs/property_map_parallel
	url = https://github.com/boostorg/property_map_parallel.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "url"]
	path = libs/url
	url = https://github.com/boostorg/url.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "mysql"]
	path = libs/mysql
	url = https://github.com/boostorg/mysql.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "compat"]
	path = libs/compat
	url = https://github.com/boostorg/compat.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "redis"]
	path = libs/redis
	url = https://github.com/boostorg/redis.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "cobalt"]
	path = libs/cobalt
	url = https://github.com/boostorg/cobalt.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "charconv"]
	path = libs/charconv
	url = https://github.com/boostorg/charconv.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "scope"]
	path = libs/scope
	url = https://github.com/boostorg/scope.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "boostlook"]
	path = tools/boostlook
	url = https://github.com/boostorg/boostlook.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "parser"]
	path = libs/parser
	url = https://github.com/boostorg/parser.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "mqtt5"]
	path = libs/mqtt5
	url = https://github.com/boostorg/mqtt5.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "hash2"]
	path = libs/hash2
	url = https://github.com/boostorg/hash2.git
	fetchRecurseSubmodules = on-demand
	branch = .
[submodule "bloom"]
	path = libs/bloom
	url = https://github.com/boostorg/bloom.git
	fetchRecurseSubmodules = on-demand
	branch = .
