[submodule "smart_ptr"]
	path = libs/smart_ptr
	url = http://github.com/boostorg/smart_ptr.git
[submodule "signals"]
	path = libs/signals
	url = http://github.com/boostorg/signals.git
[submodule "multi_array"]
	path = libs/multi_array
	url = http://github.com/boostorg/multi_array.git
[submodule "format"]
	path = libs/format
	url = http://github.com/boostorg/format.git
[submodule "statechart"]
	path = libs/statechart
	url = http://github.com/boostorg/statechart.git
[submodule "integer"]
	path = libs/integer
	url = http://github.com/boostorg/integer.git
[submodule "utility"]
	path = libs/utility
	url = http://github.com/boostorg/utility.git
[submodule "functional"]
	path = libs/functional
	url = http://github.com/boostorg/functional.git
[submodule "config"]
	path = libs/config
	url = http://github.com/boostorg/config.git
[submodule "compose"]
	path = libs/compose
	url = http://github.com/boostorg/compose.git
[submodule "random"]
	path = libs/random
	url = http://github.com/boostorg/random.git
[submodule "type_traits"]
	path = libs/type_traits
	url = http://github.com/boostorg/type_traits.git
[submodule "conversion"]
	path = libs/conversion
	url = http://github.com/boostorg/conversion.git
[submodule "timer"]
	path = libs/timer
	url = http://github.com/boostorg/timer.git
[submodule "iterator"]
	path = libs/iterator
	url = http://github.com/boostorg/iterator.git
[submodule "rational"]
	path = libs/rational
	url = http://github.com/boostorg/rational.git
[submodule "array"]
	path = libs/array
	url = http://github.com/boostorg/array.git
[submodule "property_map"]
	path = libs/property_map
	url = http://github.com/boostorg/property_map.git
[submodule "python"]
	path = libs/python
	url = http://github.com/boostorg/python.git
[submodule "static_assert"]
	path = libs/static_assert
	url = http://github.com/boostorg/static_assert.git
[submodule "mpl"]
	path = libs/mpl
	url = http://github.com/boostorg/mpl.git
[submodule "graph"]
	path = libs/graph
	url = http://github.com/boostorg/graph.git
[submodule "detail"]
	path = libs/detail
	url = http://github.com/boostorg/detail.git
[submodule "regex"]
	path = libs/regex
	url = http://github.com/boostorg/regex.git
[submodule "concept_check"]
	path = libs/concept_check
	url = http://github.com/boostorg/concept_check.git
[submodule "disjoint_sets"]
	path = libs/disjoint_sets
	url = http://github.com/boostorg/disjoint_sets.git
[submodule "any"]
	path = libs/any
	url = http://github.com/boostorg/any.git
[submodule "crc"]
	path = libs/crc
	url = http://github.com/boostorg/crc.git
[submodule "compatibility"]
	path = libs/compatibility
	url = http://github.com/boostorg/compatibility.git
[submodule "function"]
	path = libs/function
	url = http://github.com/boostorg/function.git
[submodule "math"]
	path = libs/math
	url = http://github.com/boostorg/math.git
[submodule "pool"]
	path = libs/pool
	url = http://github.com/boostorg/pool.git
[submodule "build"]
	path = tools/build
	url = http://github.com/boostorg/build.git
[submodule "tokenizer"]
	path = libs/tokenizer
	url = http://github.com/boostorg/tokenizer.git
[submodule "thread"]
	path = libs/thread
	url = http://github.com/boostorg/thread.git
[submodule "test"]
	path = libs/test
	url = http://github.com/boostorg/test.git
[submodule "tuple"]
	path = libs/tuple
	url = http://github.com/boostorg/tuple.git
[submodule "bind"]
	path = libs/bind
	url = http://github.com/boostorg/bind.git
[submodule "wave"]
	path = libs/wave
	url = http://github.com/boostorg/wave.git
[submodule "dynamic_bitset"]
	path = libs/dynamic_bitset
	url = http://github.com/boostorg/dynamic_bitset.git
[submodule "ublas"]
	path = libs/numeric/ublas
	url = http://github.com/boostorg/ublas.git
[submodule "litre"]
	path = tools/litre
	url = http://github.com/boostorg/litre.git
[submodule "preprocessor"]
	path = libs/preprocessor
	url = http://github.com/boostorg/preprocessor.git
[submodule "lambda"]
	path = libs/lambda
	url = http://github.com/boostorg/lambda.git
[submodule "io"]
	path = libs/io
	url = http://github.com/boostorg/io.git
[submodule "date_time"]
	path = libs/date_time
	url = http://github.com/boostorg/date_time.git
[submodule "variant"]
	path = libs/variant
	url = http://github.com/boostorg/variant.git
[submodule "exception"]
	path = libs/exception
	url = http://github.com/boostorg/exception.git
[submodule "interval"]
	path = libs/numeric/interval
	url = http://github.com/boostorg/interval.git
[submodule "ptr_container"]
	path = libs/ptr_container
	url = http://github.com/boostorg/ptr_container.git
[submodule "filesystem"]
	path = libs/filesystem
	url = http://github.com/boostorg/filesystem.git
[submodule "multi_index"]
	path = libs/multi_index
	url = http://github.com/boostorg/multi_index.git
[submodule "spirit"]
	path = libs/spirit
	url = http://github.com/boostorg/spirit.git
[submodule "bcp"]
	path = tools/bcp
	url = http://github.com/boostorg/bcp.git
[submodule "logic"]
	path = libs/logic
	url = http://github.com/boostorg/logic.git
[submodule "parameter"]
	path = libs/parameter
	url = http://github.com/boostorg/parameter.git
[submodule "optional"]
	path = libs/optional
	url = http://github.com/boostorg/optional.git
[submodule "inspect"]
	path = tools/inspect
	url = http://github.com/boostorg/inspect.git
[submodule "boostbook"]
	path = tools/boostbook
	url = http://github.com/boostorg/boostbook.git
[submodule "program_options"]
	path = libs/program_options
	url = http://github.com/boostorg/program_options.git
[submodule "serialization"]
	path = libs/serialization
	url = http://github.com/boostorg/serialization.git
[submodule "assign"]
	path = libs/assign
	url = http://github.com/boostorg/assign.git
[submodule "algorithm"]
	path = libs/algorithm
	url = http://github.com/boostorg/algorithm.git
[submodule "numeric_conversion"]
	path = libs/numeric/conversion
	url = http://github.com/boostorg/numeric_conversion.git
[submodule "range"]
	path = libs/range
	url = http://github.com/boostorg/range.git
[submodule "fusion"]
	path = libs/fusion
	url = http://github.com/boostorg/fusion.git
[submodule "foreach"]
	path = libs/foreach
	url = http://github.com/boostorg/foreach.git
[submodule "tr1"]
	path = libs/tr1
	url = http://github.com/boostorg/tr1.git
[submodule "xpressive"]
	path = libs/xpressive
	url = http://github.com/boostorg/xpressive.git
[submodule "typeof"]
	path = libs/typeof
	url = http://github.com/boostorg/typeof.git
[submodule "quickbook"]
	path = tools/quickbook
	url = http://github.com/boostorg/quickbook.git
[submodule "iostreams"]
	path = libs/iostreams
	url = http://github.com/boostorg/iostreams.git
[submodule "asio"]
	path = libs/asio
	url = http://github.com/boostorg/asio.git
[submodule "interprocess"]
	path = libs/interprocess
	url = http://github.com/boostorg/interprocess.git
[submodule "graph_parallel"]
	path = libs/graph_parallel
	url = http://github.com/boostorg/graph_parallel.git
