H1
{
    FONT-SIZE: 24pt;
    COLOR: darkblue
}
H2
{
    FONT-SIZE: 18pt
}
H3
{
    FONT-SIZE: 15pt
}
H4
{
    FONT-SIZE: 13pt
}
BODY
{
    FONT-SIZE: 12pt;
    BACKGROUND-COLOR: #ffffff
}
PRE
{
    MARGIN-LEFT: 2pc;
    FONT-FAMILY: Courier
}
CODE
{
    FONT-FAMILY: Courier
; white-space: pre
}
.index
{
    TEXT-ALIGN: left
}
.page-index
{
	TEXT-ALIGN: left
}
.definition
{
	TEXT-ALIGN: left
}
.footnote
{
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: super;
    TEXT-DECORATION: none
}
.function-semantics
{
    CLEAR: left
}
