RewriteEngine on

#~ RewriteRule ^(.+)\.cpp$ http://cvs.sourceforge.net/cgi-bin/viewcvs.cgi/boost/boost/$1.cpp?rev=HEAD&content-type=text/vnd.viewcvs-markup [R,L]

RewriteRule ^developement(/.*) http://engineering.meta-comm.com/boost-regression/CVS-HEAD$1 [R,L]
RewriteRule ^release(/.*) http://engineering.meta-comm.com/boost-regression/1_34_0$1 [R,L]
