# Junk files left behind by quickbook testing
test/command-line/error-fail.xml
test/post_process-fail.xml
# Generated documentation
/doc/html/*
!/doc/html/images
/doc/html/images/*
!/doc/html/images/callouts/
!/doc/html/images/extra/
/.vs*/
/*.sln
/*.vcxproj
/*.vcxproj.filters
/*.vcxproj.user
