.vscode/
doc/**/build
doc/html/*.html
doc/html/header/
doc/html/boost*/
doc/html/standalone_HTML.manifest
doc/doxygen
test_executable
doxygen_reference_generated_doc.xml
standalonedoc_HTML.manifest
Master_Test_Suite*.xml
smoke-ts-sink*.*
build/tmp
build/build_dir
build/build_*
