---
Checks:                 '-*,modernize-use-nullptr,modernize-use-override,modernize-use-using'
WarningsAsErrors:       ''
HeaderFilterRegex:      'boost\/gil\/.*'
AnalyzeTemporaryDtors:  false
FormatStyle:            mozilla
User:                   gil-developers
CheckOptions:
  - key:                modernize-use-nullptr.NullMacros
    value:              'NULL'
...

