# EditorConfig is awesome: http://EditorConfig.org
#
# top-most EditorConfig file
root = true

[*]
guidelines = 100
indent_size = 4
indent_style = space
max_line_length = 100
trim_trailing_whitespace = true
insert_final_newline = true

[*.{cpp,hpp}]
guidelines = 100
indent_size = 4
indent_style = space
max_line_length = 100
trim_trailing_whitespace = true
insert_final_newline = true

[*.{md,rst}]
guidelines = 78
indent_size = 2
indent_style = space
max_line_length = 79
trim_trailing_whitespace = false
insert_final_newline = true

[{Jamfile*,CMakeLists.txt,CMakeSettings.json,*.cmake}]
guidelines = 100
indent_size = 2
indent_style = space
max_line_length = 100
trim_trailing_whitespace = true
insert_final_newline = true

[*.yml]
guidelines = 100
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 100
trim_trailing_whitespace = true
