# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto !eol
*.gitattributes     text eol=lf

# Code
*.cpp               text !eol
*.hpp               text !eol
*.ipp               text !eol

# Boost.Build
*.jam               text eol=lf
Jamfile             text eol=lf
Jamfile.v2          text eol=lf
Jamroot             text eol=lf
boost-no-inspect    text

# CMake
*.cmake             text eol=lf
CMakeLists.txt      text eol=lf

# Documentation
*.md                text eol=lf
*.rst               text eol=lf
*.qbk               text eol=lf

# Images
*.bmp               binary
*.gif               binary -delta
*.jpeg              binary -delta
*.jpg               binary -delta
*.pbm               binary
*.pgm               binary
*.ppm               binary
*.png               binary -delta
*.pnm               binary
*.raw               binary
*.tga               binary
*.tif               binary
*.tiff              binary
*.svg               text

# Scripts
*.bat               text eol=crlf
*.cmd               text eol=crlf
*.py                text eol=lf
*.sh                text eol=lf

# Texts
.htaccess           text eol=lf
*.css               text
*.htm               text
*.html              text
*.txt               text
*.yml               text

# sanitizers suppression
*.supp              text eol=lf
