/*
  Copyright 2004-2005 Redshift Software, Inc.
  Distributed under the Boost Software License, Version 1.0.
  (See accompanying file LICENSE_1_0.txt or http://www.boost.org/LICENSE_1_0.txt)
*/
/* The base font size. The first one is for IE, the second for everyone else. */
body {
  font-size: smaller;
}
* > body {
  font-size: 10pt;
}
/* Global defaults. */
* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 100%;
  text-decoration: none;
}
body {
  font-family: sans-serif;
  color: #000000;
  background-color: #CCCCCC;
}
/* Links, black with sharp slate blue underline in all states. */
a {
  text-decoration: none;
  color: #000000;
  border-bottom: 1px solid #8AB4CA;
}
a:hover {
  border-bottom: 1px solid #005090;
}
/* A generic class to clear this element. */
.clear {
  clear: both;
  width: 100%;
  height: 1px;
  overflow: hidden;
}
/* Enforce a minimum width. */
/* - For IE we can't really control this so we only make
   sure the container doesn't look strange at small sizes by
   making the body have enough whitespace. */
#content h1, #content h2, #content h3 {
  white-space: nowrap;
}
/* - New browsers have the easy way to set this. */
.body-0 {
  min-width: 55em;
}
/* The shadow arrangement. */
.body-0 {
  padding-left: 50px;
  background: url(shadow-light-dark.png) repeat-y left;
}
.body-1 {
  padding-right: 50px;
  background: url(shadow-dark-light.png) repeat-y right;
}
.body-2 {
  background-color: #FFFFFF;
}
/* */
#content {
  padding: 1em;
}
/* Heading, title and logo. */
#heading {
  background: #005080 url(heading-background.jpg) repeat bottom left;
  border: 2px solid #FFFFFF;
  position: relative;
}
#heading * {
  color: #FFFFFF;
}
#heading h1 {
  padding: 2em 0.25em 0.25em 0.75em;
  float: left;
  position: relative;
  white-space: nowrap;
}
#heading h1 img {
  border: none;
}
#heading #boost {
  font-size: 250%;
  font-weight: 900;
  font-family: Impact, sans-serif;
}
#heading #cpplibraries {
  font-size: 100%;
  font-weight: 900;
  padding-left: 0.75em;
}
#heading-quote {
  white-space: nowrap;
  margin: 0.75em 0.75em 0em -7em;
  float: right;
  clear: right;
  position: relative;
  text-align: right;
}
#heading-quote .quote {
  font-size: 80%;
  display: block;
}
#heading-quote .attribution {
  font-size: 75%;
  display: block;
}
#heading-quote a {
  border-bottom: 1px solid #0080C0;
}
#heading-quote a:hover {
  border-bottom: 1px solid #c8dae3;
}
/* Content sections, inside the top content section. */
.section {
  padding-left: 28px;
  margin-bottom: 3em;
}
.section-body p {
  margin: 0em 0em 0.75em 0em;
}
.section-body h2 {
  margin: 0em 0em 0.5em 0em;
  padding: 0em 0em 0em 0em;
  font-size: 140%;
  clear: both;
}
.section-body h3 {
  margin: 0em;
  padding: 0em;
  font-size: 120%;
  clear: both;
}
.section-body h4 {
  margin: 0.5em 0em 0.5em 0em;
  font-size: 110%;
  clear: both;
}
.section-body ul {
  margin: 0em 0em 0.75em 0em;
  padding: 0em 0em 0em 2em;
}
.section-body ul li {
  margin: 0.75em 0em 0em 0em;
  text-indent: -1.75em;
  padding: 0em;
  list-style-type: none;
}
.section-body ul li ul {
  margin: 0.75em 0em 0em 0em;
  padding: 0em;
}
.section-body ul li ul li {
  display: block;
  margin: 0em;
  padding: 0em 0em 0em 1em;
  list-style-type: none;
  background: url(boost_bullet.gif) no-repeat 0em 0.5em;
  text-indent: 0em;
}
.section-body blockquote {
  margin: 0.5em 1em 0em 2em;
  border-right: 1px dashed #CCCCCC;
  border-left: 1px dashed #CCCCCC;
  text-align: justify;
  padding-right: 0.5em;
  padding-left: 0.5em;
}
.section-body .left-inset {
  float: left;
  margin: 0em 1em 1em 0em;
}
.section-body .library {
  display: block;
  margin: 0em 0em 0.5em 0em;
}
.section-body .faq {
  margin: 0em 0em 1em 0em;
}
.section-body .faq .faq-question {
  color: #005080;
  font-weight: bold;
}
.section-body .faq .faq-answer {
}
.section-body .note {
  margin: 0em 0em 1em 0em;
}
.section-body .note .note-label {
  color: #005080;
  font-weight: bold;
}
.section-body .note .note-body {
}
.section-body table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0.5em;
  border: none;
}
.section-body table caption {
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1pt solid #000000;
  padding: 0em 0em 0.2em 0em;
}
.section-body table tr th {
  border: none;
  border-bottom: 1pt solid #000000;
  text-align: left;
  vertical-align: bottom;
  font-weight: bold;
  padding: 0em 0em 0.2em 0em;
}
.section-body table tr td {
  border: none;
  text-align: left;
  vertical-align: top;
  padding: 0em 0em 0.2em 0em;
}
/* Section headings, all use the same stream op indicator style. */
#content h1, #content h2 {
  padding-left: 24px;
  background: url(section_head.png) no-repeat left center;
  text-indent: 4px;
  vertical-align: middle;
  font-size: 140%;
  position: relative;
  left: -28px;
}
/* Uniformly color everything that's a heading */
#content h1, #content h2, #content h3, #content h4 {
  color: #005080;
  font-weight: bold;
}
