/*
  Copyright 2004-2005 Redshift Software, Inc.
  Distributed under the Boost Software License, Version 1.0.
  (See accompanying file LICENSE_1_0.txt or http://www.boost.org/LICENSE_1_0.txt)
*/
@import url(common.css);
/* */
#news {
  margin-bottom: 0em;
}
#content table {
  border-spacing: 0em;
}
#sidebars-top {
  vertical-align: top;
}
#sidebars-bottom {
  vertical-align: bottom;
}
.sidebar {
  width: 22em;
  margin: 0em 0em 1em 1em
}
#content h1, #content h2 {
  margin: 0em 0em 0.5em 0em;
}
/* The shadow and inner layout of the sidebars. */
.sidebar {
  background: url(sidebar-shadow-bottom.png) no-repeat left bottom;
}
.sidebar-0 {
  background: url(sidebar-shadow-right.png) no-repeat right top;
}
.sidebar-1 {
  padding: 0px 8px 8px 0px;
  background: url(sidebar-shadow-bottom-right.png) no-repeat right bottom;
}
.sidebar-2 {
  border: 1px solid #c8dae3;
}
.sidebar-3 {
  padding: 0em 0.5em 0.5em 0em;
}
/* Arrangement of the various side cells. */
#libraries, #search, #tests,
#groups, #contribute, #support,
#other, #official, #unofficial, #footer {
  float: left;
}
#search,
#official,
#footer {
  clear: left;
}
/* */
.sidecell {
  width: 50%;
}
.sidecell-0 {
  padding: 0.5em 0em 0em 0.5em;
  font-size: 85%;
}
.sidecell h4 {
  display: block; margin: 0em; padding: 0em;
  border-bottom: 1px solid #8AB4CA;
}
.sidecell:hover h4 {
  border-bottom-color: #005090;
}
.sidecell form {
  display: block; margin: 0em; padding: 0em;
}
.sidecell ul {
  display: block; margin: 0em; padding: 0em;
}
/* Lists in sidecells are menus. */
.sidecell ul a {
  border: none;
  padding-left: 14px;
}
.sidecell ul a:hover {
  border: none;
  background: url(menu_link_indicator.png) no-repeat left center;
}
.sidecell ul {
  list-style-type: none;
}
.sidecell ul li {
  margin: 0em; padding: 0em;
}
/* Search box */
#search {
  width: 98.5%;
}
/* - The three parts of the search widget. */
#search #search-text {
  display: block;
  height: 1.8em;
  margin: 0.25em 0em 0em 0em;
  padding: 0em 48% 0em 0em;
}
#search #search-choice {
  display: block;
  height: 1.8em;
  margin: -1.8em 0em 0em 55%;
  padding: 0em 30px 0em 0em;
}
#search #go {
  display: block;
  height: 1.8em;
  margin: -1.8em 0em 0em 55%;
  text-align: right;
}
#search #search-text #q {
  width: 100%;
  margin: 0em; padding: 1px;
  border: 1px solid #003399;
  color: #000000;
  background-color: #FFFFFF;
}
#search #search-choice #hq {
  width: 100%;
  margin: 0em; padding: 0em;
  border: 1px solid #003399;
  color: #000000;
  background-color: #FFFFFF;
}
#search #go #search-button {
  width: 26px; height: 20px;
  margin: 0em; padding: 0em;
  background-image: url(search-button.png);
}
/* - The custom Google banner and link. */
#search #google {
  display: block;
  clear: both;
  margin: 0em 0em 0em 0em;
  border: none;
  text-align: center;
}
#search #google a {
  font-size: 10px;
}
#search #google img {
  width: 75px; height: 32px;
  margin: 0em -20px 0em 0em;
  border: none;
}
/* Footer with copyright and license. */
#footer-sidebar,
#footer-sidebar .sidebar-0, #footer-sidebar .sidebar-1,
#footer-sidebar .sidebar-2, #footer-sidebar .sidebar-3 {
  background: #FFFFFF;
  border: none;
}
#footer-sidebar {
  padding: 3em 0em 0em 0em;
}
#footer {
  width: 100%;
}
#footer p {
  margin: 0em; padding: 0em;
  text-align: left;
}
#footer #revised {
  display: block;
  border-bottom: 1px solid #8AB4CA;
}
#footer:hover #revised {
  border-bottom-color: #005090;
}
#footer #revised p {
}
#footer #copyright {
  display: block;
  margin: 0.25em 0em 1em 14px;
}
#footer #copyright p {
  margin: 0em;
  padding: 0em 0em 0em 1.5em;
  text-indent: -1.5em;
}
#footer #license {
  display: block;
  margin: 0.25em 0em 1em 14px;
}
#footer #license p {
  margin: 0em;
  padding: 0em 0em 0em 1.5em;
  text-indent: -1.5em;
}
#footer #banners {
  display: block;
  margin: 0.25em 0em 0em 0em;
  text-align: center;
}
#footer #banners p {
  display: inline;
}
#footer #banners img {
  border: none;
}
#footer #banners a {
  border: none;
}
