/*
  Copyright 2004-2005 Redshift Software, Inc.
  Distributed under the Boost Software License, Version 1.0.
  (See accompanying file LICENSE_1_0.txt or http://www.boost.org/LICENSE_1_0.txt)
*/
@import url(common.css);
/* Heading quick pick menu. */
#heading ul {
  float: right;
  clear: right;
  margin: 0.5em 1em 0em 0em;
  padding: 0.25em 0em 0.25em 0em;
  position: relative;
  list-style-type: none;
  white-space: nowrap;
}
#heading ul li {
  display: inline;
  margin: 0em; padding: 0em;
}
#heading ul li a {
  margin: 0em;
  padding: 0em 0.25em 0em 0.25em;
  background-color: #005080;
  border: 1px solid #0080C0;
}
#heading ul li a:hover {
  border: 1px solid #c8dae3;
}
#heading h1 a {
  color: #FFFFFF;
  border: none;
}
#heading h1 a:hover {
  border: none;
}
/* */
#history {
  margin: 0em;
  padding: 0em;
  padding-left: 28px;
}
#content h1, #content h2 {
  left: 0;
}
.section-body h3 {
  margin: 1.5em 0em 0.5em 0em;
}
/* Footer with copyright and license. */
#footer {
  background-color: #c8dae3;
  border: 2px solid #FFFFFF;
  color: #000000;
  padding: 0.5em;
}
#footer p {
  margin: 0em;
  padding: 0em;
  font-size: 80%;
  margin: 0em;
  padding: 0em 0.5em 0em 0.5em;
  text-align: center;
}
#footer a {
  color: #000000;
  border-bottom: 1px solid #A0B0C0;
}
#footer a:hover {
  border-bottom: 1px solid #0080C0;
}
