th
{
   font-weight: bold;
   text-align:  center;
}

a img{ border: 0.1em solid black; }

.title, .refnamediv h2, .standalone-title
{
   font-weight:   bold;
   font-size:     2pc;
   font-family:   Times New Roman;
   margin-bottom: 1pc;
}

.toc
{
   margin-left:   15%;
   margin-right:  15%;
   margin-top:    1pc;
   margin-bottom: 0pc;
   padding:       0.5pc;
}

.boost-toc
{
   float:   right;
   padding: 0.5pc;
}

.spirit-nav
{
   text-align: right;
}

.spirit-nav a
{
   padding-left: 0.5em;
}

div pre.programlisting, .refsynopsisdiv
{
   margin-left:  3pc;
   margin-right: 3pc;
}

.computeroutput, .command
{
   font-family: Lucida Console;
   font-size:   80%;
}

.title, .refnamediv h2
{
   text-align: center;
}

.section .section .title, .chapter .section .title, .table .title
{
   text-align: left;
}

.informaltable table
{
   width: 100%;
}

i.firstterm
{
   font-style: normal;
   font-weight: bold;
}

/* tone down the title of Parameter lists */
div.variablelist p.title
{
   font-weight: bold;
   font-size: 100%;
   text-align: left;
   background-color: white;
}

/* tabularize parameter lists */
div.variablelist dl dt
{
   float: left;
   clear: left;
   font-style: italic;
}

div.variablelist dl dd
{
   padding-left: 8pc;
}

@media screen
{
   a{ color: blue; }

   th, .title, .refnamediv h2
   {
      background-color: lightskyblue;
   }

   span.title 
   {
     background-color: white;
     font-size: 100%;
     font-weight: normal;
   }

   .section .section .title, .chapter .section .title, .table .title
   {
      background-color: white;
   }

   .table table, div.informaltable table, .section-title
   {
      background-color: #EEE;
   }

   .table table tr td, div.informaltable table tr td
   {
      background-color: #CCC;
   }

   .programlisting, .table-programlisting
   {
      background-color: #EED;
      border:           0.2em ridge #EED;
      padding:          1pc;
   }

   .refsynopsisdiv
   {
      background-color: lightskyblue;
      border:           0.2em ridge cyan;
      padding:          1pc;
      font-family:      Courier, Lucida Console;
   }

   .boost-head
   {
      background-color: #007F7F;
      border:           0.1em outset #007F7F;
   }

   .toc, .boost-toc
   {
      background-color: #DDD;
      border:           0.2em ridge lightcoral;
   }

   table.boost-head tr td
   {
      border: 0.1em inset #007F7F;
   }

   .boost-headelem
   {
      color:       white;
      font-family: Arial;
      font-weight: bold;
   }
}

@media print
{
   body{ text-align: justify; }
   a{ color: black; }
   table{ border: 0pc; }

   .boost-head, table.boost-head tr td
   {
      border: 0em;
   }

   .toc{ border: 0.2em solid black; }

   .table tr td, .table tr th
   {
      border: 0.1em solid black;
   }
}

