th
{
   font-weight:      bold;
   text-align:       center;
}

.title
{
   font-weight:   bold;
   font-size:     2pc;
   font-family:   Times New Roman;
   margin-bottom: 1pc;
   text-align:    center;
}

.toc
{
   margin-left:   15%;
   margin-right:  15%;
   margin-bottom: 0pc;
}

div pre.programlisting, .refsynopsisdiv
{
   margin-left:  3pc;
   margin-right: 3pc;
}

.computeroutput, .command
{
   font-family: Lucida Console;
   font-size:   80%;
}

.table
{
   text-align: center;
}

@media screen
{
   a{ color: blue; }

   th, .title
   {
      background-color: lightskyblue;
   }

   .section .title
   {
      background-color: #DDD;
      text-align:       left;
   }

   .table .title
   {
      background-color: white;
      text-align:       left;
   }

   div.table table, div.informaltable table, .section-title
   {
      background-color: #EEE;
   }

   .programlisting, .table-programlisting
   {
      background-color: #EED;
      border:           0.2em ridge #EED;
      padding:          1pc;
   }

   .refsynopsisdiv
   {
      background-color: lightskyblue;
      border:           0.2em ridge cyan;
      padding:          1pc;
   }

   .boost-head
   {
      background-color: #007F7F;
      border:           0.1em outset #007F7F;
   }

   .boost-headelem
   {
      color:       white;
      font-family: Arial;
      font-weight: bold;
   }

   table.boost-head tr td
   {
      border: 0.1em inset #007F7F;
   }

   .toc
   {
      border:           0.2em ridge lightcoral;
      padding:          0.5pc;
      background-color: #DDD;
   }
}

@media print
{
   body
   {
      text-align: justify;
   }

   a{ color: black; }

   .boost-head, table.boost-head tr td
   {
      border: 0em;
   }
}


