* text=auto

*.cpp        text
*.hpp        text
*.py         text

*.css        text
*.html       text
*.md         text
*.qbk        text
*.svg        text
*.txt        text

*.json       text
*.yml        text

*.png        binary

Jamfile.v2   text
.gitignore   text
